/* Main selector ruleset to reset margins and set font and border-box properties */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Background color applied to the body elements*/
body {
    background-color: #d9dcd6;
}

/* Background color and padding to the header element*/
header {
    padding: 20px;
    background-color: #2a607c;
}

/* Font family applied to three elements/classes which are seperated by a comma under the following line*/
header h1 .seo, header h1, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Ruleset applied to the h1 within the header element*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Ruleset applied to the span element which has a class of .seo within header h1*/
header h1 .seo {
    color: #d9dcd6;
}

/* Ruleset applied to the navigation bar within the header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    list-style-type: none;
}

/* Ruleset applied to the list within the header's navigation bar*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Ruleset applied to all a tags aka as links*/
a {
    text-decoration: none;
}

/* Ruleset applied to all paragraphs*/
p {
    font-size: 16px;
}
 
/* Ruleset applied to the .hero class which contains our cover styling image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Ruleset applied to the .float-left class to float the image to the left and set right margin from the paragrpah text as the image is on the left side*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Ruleset applied to the .float-right class to float the image to the right and set some margin from the paragrpah text as the image is on the right side*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Ruleset applied to the main section elements which assigns 75% width of page size*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Ruleset applied to the benefits section elements which assigns 20% width of page size*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #217aa8
}

/* Ruleset applied to the aside sections of the benefits class*/
.benefits aside {
    margin-bottom: 32px;
}

/* Ruleset applied to the h2 headers within the benefits class */
.benefits h2 {
    margin-bottom: 5px;
    text-align: center;
}

/* Ruleset applied to the images within the benefits section */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Ruleset applied to the main article elements */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

/* Ruleset applied to the main image conent by specifying maximum height*/
.content img {
    max-height: 200px;
}

/* Ruleset applied to the h2 headers within the contents class */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Ruleset applied to the footer section */
footer {
    padding: 30px;
    clear: both;  
    text-align: center;
    
}

/* Ruleset applied to the h2 header within the footer section */
footer h2 {
    font-size: 20px;
    color: #000000
}

/* Ruleset applied to the paragraph within the footer section */
footer p {
    color: #000000
   
}

/* Ruleset applied upon hovering/focusing on the alt links under the navigation bar */
a:hover,
a:focus {
    color: #d9dcd6;
    text-decoration: underline;
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); 

}



